.wp-block-create-block-dp-lazy-youtube {
    display: flex;
	
	.youtube-preview {
		display: flex;
		
		img {
			max-width: 100%;
			margin: 0;
		}
	}


	.components-base-control{
		width: 100%;
		border: 3px solid#3858e9;	
		background-color: rgba(56, 88, 233, 0.05);	
		height: auto;
		padding: 4rem 20px;
		display: flex;
		align-items: center;

		> div{
			flex-grow: 1;
		}
	}

}	
